* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jersey 25", serif;
}

body {
    background-color: #2c232f;
    color: white;
}

header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 10px;
}

.menu-logo {
    color: black;
    margin: 20px;
}

.menu-logo, .menu-logo-purple {
    font-size: 4rem;
    font-weight: 600;
    user-select: none;
}

.menu-logo-purple {
    color: purple;
}

.search-container {
    margin: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.search-container input[type=text] {
    padding: 6px 10px;
    margin: 0;
    width: 450px;
    font-size: 30px;
    background-color: #C0C0C0;
    border: none;
    border-radius: 10px;
}

.search-container button {
    padding: 6px 10px;
    margin: 0;
    background-color: purple;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-button {
    background-color: white;
    color: black;
    font-size: inherit;
    border: none;
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    font-size: 1.5rem;
    right: 0;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 1;
    border-radius: 10px;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #f1f1f1; border-radius: 10px;}
  
.dropdown:hover .dropdown-content {
    display: block;
}

nav {
    display: flex;
    gap: 1rem;
    font-size: 1.7rem;
    margin: 20px;
    color: black;
}

nav a {
    text-decoration: none;
    color: black;
}

.login-sign-purple {
    color: purple;
    padding-left: 10px;
}

.container {
    margin: 40px;
}

#total {
    margin: 40px;
}

h2 {
    margin: 40px;
}

p {
    margin: 20px 20px 40px 40px;
    font-size: 1.5rem;
}

table {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 40px;
}

td {
    padding: 20px;
}

img {
    height: 100px;
    border-radius: 10px;
}

.price {
    font-size: 2rem;
}

.proceedToOrder {
    background-color: purple;
    border-radius: 10px;
    padding: 5px;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 40px 20px 20px 40px;
}

#btnProceedToOrder {
    font-size: 1.8rem;
    color: white;
    background-color: inherit;
    border: none;
    cursor: inherit;
}

.proceedToOrder:hover {
    transform: scale(1.01);
}

.backToPayment {
    display: inline;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px 20px 20px 40px;
}

#btnBackToPayment {
    font-size: 1.8rem;
    color: black;
    background-color: inherit;
    border: none;
    cursor: inherit;
}

.backToPayment:hover {
    transform: scale(1.01);
}

@media screen  and (max-width: 1210px) {
    .search-container input[type=text] {
        width: 300px;
    }
}

@media  screen and (max-width: 1000px) {
    .search-container input[type=text] {
        width: 200px;
    }
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 30px;
    height: 25px;
    background-color: white;
}

.hamburger-menu span {
    display: block;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    width: 100%;
}

.menu-toggle {
    display: none;
}

.menu-toggle:checked~nav {
    display: flex;
}

@media screen and (max-width: 950px) {
    .hamburger-menu {
        display: flex;
    }

    .search-container input[type=text] {
        display: none;
    }


    nav {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        background-color: white;
        padding: 10px;
        position: absolute;
        top: 70px;
        left: 0;
        font-size: 1.5rem;
        display: none;
    }
}